body,html{
    margin:0;
    padding: 0;
    background: url('images/ima.jpeg');
    background-size: cover;
    background-position: left;
}
.header{
    width: 100%;
    background-color: rgba(0, 0,0,.2);
}
ul{
    width: auto;
    text-align: center;
    margin-top: 8px;
}
li{
    display: inline-block;
    padding: 15px 30px;
}
a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-family:cursive;
    font-size: 1.8vw;
}
 a:hover{
    color:white;
    transition: all ease 0.5s;
}
h2{
    text-align: center;
    color:black;
    font-family: cursive;
}
.container{
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  
  
  .item{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    
    transition: all 300ms;
    
    position: relative;
  }
  
  
  .item::after {
    content: "";
    background-color: rgba(179, 229, 252, .1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
  }
  
  .item:hover:after{
    opacity: 1;
    transform: scale(1);
  }
  
  .item:hover {
    transform: scale(1.09);
  }
  
  .item-text{
    padding: 1em;
  }
  
  
  .item-img{
    max-width: 100%;
    display: block;
  }
  
  
  @media screen and (min-width: 590px) {
    
    .container{
      grid-template-columns: repeat(2, 1fr);
    }
    
  }
  
  
  
  @media screen and (min-width: 960px) {
    
    .container{
      grid-template-columns: repeat(3, 1fr);
    }
    
  }