.producto{
    border: 2px solid aqua;
    padding: 5px;
    margin-top: auto;
    text-align: center;
}
.tap{
    border: 1px solid purple;
    width: 300px;
    height: 300px;
    padding: 10px;
}
.pestana{
    width: 90%;
    height: 80%;
    margin:auto;
    background: aqua;
    
}